SAFRANIT/SAFRANIT/Connected Services/SHARAT/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="AddKindsOfBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="kindsOfBook" nillable="true" type="q1:KindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKindsOfBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypesFORbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="typesFORbook" nillable="true" type="q2:TypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypesFORbookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="clients" nillable="true" type="q3:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="publish" nillable="true" type="q4:Publish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBooksList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="booksList" nillable="true" type="q5:BooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBooksListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookToBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="bookToBorrow" nillable="true" type="q6:BookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookToBorrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowingExplaning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowingExplaning" nillable="true" type="q7:BorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowingExplaningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="signUp" nillable="true" type="q8:SignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowimg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowing" nillable="true" type="q9:Borrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBorrowimgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindsOfBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="kindsOfBook" nillable="true" type="q10:KindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKindsOfBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesFORbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="typesFORbook" nillable="true" type="q11:TypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTypesFORbookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="clients" nillable="true" type="q12:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="publish" nillable="true" type="q13:Publish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBooksList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="booksList" nillable="true" type="q14:BooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBooksListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookToBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="bookToBorrow" nillable="true" type="q15:BookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookToBorrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrowingExplaning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowingExplaning" nillable="true" type="q16:BorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrowingExplaningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="signUp" nillable="true" type="q17:SignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowing" nillable="true" type="q18:Borrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBorrowingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusKindsOfBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="kindsOfBook" nillable="true" type="q19:KindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusKindsOfBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusTypesFORbook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="typesFORbook" nillable="true" type="q20:TypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusTypesFORbookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="clients" nillable="true" type="q21:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusClientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="publish" nillable="true" type="q22:Publish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusPublishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBooksList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="booksList" nillable="true" type="q23:BooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBooksListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBookToBorrow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="bookToBorrow" nillable="true" type="q24:BookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBookToBorrowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBorrowingExplaning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowingExplaning" nillable="true" type="q25:BorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBorrowingExplaningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="signUp" nillable="true" type="q26:SignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBorrowing">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="borrowing" nillable="true" type="q27:Borrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStatusBorrowingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindsOfBookBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindsOfBookBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetKindsOfBookBySelectResult" nillable="true" type="q28:ArrayOfKindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesFORbookBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesFORbookBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetTypesFORbookBySelectResult" nillable="true" type="q29:ArrayOfTypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetClientsBySelectResult" nillable="true" type="q30:ArrayOfClients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetPublishBySelectResult" nillable="true" type="q31:ArrayOfPublish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksListBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksListBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBooksListBySelectResult" nillable="true" type="q32:ArrayOfBooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookToBorrowBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookToBorrowBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBookToBorrowBySelectResult" nillable="true" type="q33:ArrayOfBookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingExplaningBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingExplaningBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBorrowingExplaningBySelectResult" nillable="true" type="q34:ArrayOfBorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignUpBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignUpBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSignUpBySelectResult" nillable="true" type="q35:ArrayOfSignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingBySelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingBySelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBorrowingBySelectResult" nillable="true" type="q36:ArrayOfBorrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindsOfBookByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKindsOfBookByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetKindsOfBookByCodeResult" nillable="true" type="q37:KindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesFORbookByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="cd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTypesFORbookByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetTypesFORbookByCodeResult" nillable="true" type="q38:TypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetClientsByCodeResult" nillable="true" type="q39:Clients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublishByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetPublishByCodeResult" nillable="true" type="q40:Publish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksListByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksListByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBooksListByCodeResult" nillable="true" type="q41:BooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookToBorrowByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="cd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookToBorrowByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBookToBorrowByCodeResult" nillable="true" type="q42:BookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingExplaningByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
        <xs:element minOccurs="0" name="cd" type="xs:int" />
        <xs:element minOccurs="0" name="cdd" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingExplaningByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBorrowingExplaningByCodeResult" nillable="true" type="q43:BorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignUpByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cd" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSignUpByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetSignUpByCodeResult" nillable="true" type="q44:SignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBorrowingByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetBorrowingByCodeResult" nillable="true" type="q45:Borrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindsOfBookBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindsOfBookBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListKindsOfBookBySelectedContainResult" nillable="true" type="q46:ArrayOfKindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTypesFORbookBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTypesFORbookBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListTypesFORbookBySelectedContainResult" nillable="true" type="q47:ArrayOfTypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListClientsBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListClientsBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListClientsBySelectedContainResult" nillable="true" type="q48:ArrayOfClients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListPublishBySelectedContainResult" nillable="true" type="q49:ArrayOfPublish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBooksListBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBooksListBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBooksListBySelectedContainResult" nillable="true" type="q50:ArrayOfBooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBookToBorrowBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBookToBorrowBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBookToBorrowBySelectedContainResult" nillable="true" type="q51:ArrayOfBookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingExplaningBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingExplaningBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBorrowingExplaningBySelectedContainResult" nillable="true" type="q52:ArrayOfBorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSignUpBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSignUpBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListSignUpBySelectedContainResult" nillable="true" type="q53:ArrayOfSignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingBySelectedContain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="st" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingBySelectedContainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBorrowingBySelectedContainResult" nillable="true" type="q54:ArrayOfBorrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindsOfBook">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListKindsOfBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListKindsOfBookResult" nillable="true" type="q55:ArrayOfKindsOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTypesFORbook">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTypesFORbookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListTypesFORbookResult" nillable="true" type="q56:ArrayOfTypesFORbook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListClientsResult" nillable="true" type="q57:ArrayOfClients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListPublishResult" nillable="true" type="q58:ArrayOfPublish" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBooksList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBooksListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBooksListResult" nillable="true" type="q59:ArrayOfBooksList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBookToBorrow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBookToBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBookToBorrowResult" nillable="true" type="q60:ArrayOfBookToBorrow" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingExplaning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingExplaningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBorrowingExplaningResult" nillable="true" type="q61:ArrayOfBorrowingExplaning" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSignUp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListSignUpResult" nillable="true" type="q62:ArrayOfSignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBorrowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="GetListBorrowingResult" nillable="true" type="q63:ArrayOfBorrowing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindsOfBook">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyKindsOfBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyKindsOfBookResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyPublish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyPublishResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBooksList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBooksListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyBooksListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBorrowing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBorrowingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyBorrowingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBookToBorrow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextKeyBookToBorrowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNextKeyBookToBorrowResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentPathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentPathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imageArr" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="nameFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveImgResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImageResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>